GMAIL_CLIENT_ID=your_client_id_here
GMAIL_CLIENT_SECRET=your_client_secret_here
GMAIL_REFRESH_TOKEN=your_refresh_token_here
YOUR_NAME=Ruthwik Pabbu
YOUR_EMAIL=rpabbu2@illinois.edu
YOUR_LINKEDIN=https://linkedin.com/in/ruthwikpabbu
YOUR_GITHUB=https://github.com/Pabbsters
TEAL_API_KEY=optional_teal_api_key
